version: '3.8'

services:
  app:
    build: .
    container_name: inventario-app
    ports:
      - "8080:8080"
    depends_on:
      - mongo
    environment:
      - MONGO_URI=mongodb://mongo:27017
    volumes:
      # Conectamos tu carpeta local "seeds" con una carpeta dentro del contenedor
      - ./seeds:/app/seeds

  mongo:
    image: mongo:6.0
    container_name: inventario-mongo
    ports:
      - "27017:27017"
    volumes:
      - mongo_data:/data/db

volumes:
  mongo_data: